
<div class="Recipe show">
	<h2>Show recipe </h2>

	<table summary="Recipe detail view">
	  <tr>
	  	<th>Name</th>
	  	<td><%= @recipes.Name %></td>
	  </tr>

	  <tr>
	  	<th>Region</th>
	  	<td><%= @recipes.Region %></td>
	  </tr>	

	  <tr>
	  	<th>Time_to_cook(in minutes)</th>
	  	<td><%= @recipes.Time_to_cook %></td>
	  </tr>	

	  <tr>
	  	<th>Type</th>
	  	<td><%= @recipes.Type %></td>
	  </tr>	

	  <tr>
	  	<th>Ingredients needed</th>
	  	<td><%= @recipes.Ingredients_needed %></td>
	  </tr>	


	</table>  
</div>
